* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcd6ff;
}

.container{
    display: block;
    background-color: #46004d;
    color: #fff;
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px #000000a4;
}


.container h1{
    text-align: center;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    color: #ffc401;
}

.expense-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 10px 0;
}